.places{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top:165px;
   margin-bottom:111px;
   .title{
      font-size: 48px;
      margin-bottom:41px;
   }
   .discript{
      opacity: 0.5;
      margin-bottom:30px;
   }
   .view-more__button{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 170px;
      height: 60px;
      color: white;
      font-size: 18px;
      background-color: #FF5300;
      opacity: 0.9;
      &:hover{
         opacity:1;
         cursor: pointer;
      }
   }
}

.slide__button__with__cont{
   display: flex;
   align-items: center;
}

.slider-btn-next{
   position: relative;
   left:-25px;
   opacity: 0.9;
   &:hover{
      cursor:pointer;
      opacity: 1;
   }
}

.slider-container{
   overflow: hidden;
   width: 753px;
   height: 338px;
}
.swiper-slide{
   margin:0;
}
.slider-wrapper{
   display: flex;
   flex-direction: row;
   position:relative;
   width: 251px;
   height: 338px;
   left: 0;
   transition: all ease 1s;
}