@import 'fonts';
@import 'header';
@import 'preview';
@import 'achievs';
@import 'places';

.body{
    margin: 0;
}

.wrapper{
    margin-left:134px;
    margin-right:134px;
    margin-top: 30px;
    font-family: "Roboto";
}
